ul {
    list-style: none;
}

li {
    margin-bottom: 15px;
}

#canvas-holder {
    border-width: 2px;
    border-color: black;
    margin-right: auto;
    margin-left: auto;
    width: 512px;
}

#buttons-holder {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
